
#agencia {
          //background-color : #c0c0c0;
           color : blue;
}

#fondo {
          background-color : #B0E0E6;
}

.color {
          // background-color: #c0c0c0;
            color : blue
}
.uno {
          // background-color: #c0c0c0;
            color : green
}